<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Menu</name>
    <events>
        <event-block sid="102819389508816">
            <conditions>
                <condition id="-2" name="On start of layout" sid="306590697338607" type="System" />
            </conditions>
            <actions>
                <action id="-28" name="Set canvas size" sid="848902792610685" type="System">
                    <param id="0" name="Width">1366</param>
                    <param id="1" name="Height">768</param>
                </action>
                <action id="33" name="Stop all" sid="789056503350123" type="Audio" />
                <action id="0" name="Play" sid="698630069957194" type="Audio">
                    <param id="0" name="Audio file">101-opening</param>
                    <param id="2" name="Loop">0</param>
                    <param id="3" name="Volume">0</param>
                    <param id="1" name="Tag (optional)">&quot;Intro&quot;</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="371578828463580">
            <conditions>
                <condition id="1" name="On any key pressed" sid="228171614887961" type="Keyboard" />
            </conditions>
            <actions>
                <action id="-21" name="Reset global variables" sid="312619065504360" type="System" />
                <action id="-2" name="Go to layout" sid="588423084175404" type="System">
                    <param id="0" name="Layout">Main</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
